.navlist{
display: flex;
justify-content: start;
font-family: 'Courier New', Courier, monospace;
font-weight: 800;
font-size: 1.5em;
background-color: burlywood;
padding: 0;
}

.navLink{
    display: inline-block;
    margin: 0;
    padding: 10px 30px 10px 30px;
    background-color: rgb(173, 141, 100);
}

.navLink:hover{
    color:blueviolet;
    background-color: brown;
    transition: all 0.5s;
}

Link{
    color:azure;
}